<div class="modal fade" tabindex="-1" id="updateModal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="javascript:void(0)">
        <input type="hidden" name="id">
        <div class="modal-body">
          <div class="mb-3 row px-4">
            <label class="mb-2">Tanggal</label>
            <input type="date" class="form-control" name="tanggal" required>
          </div>
          <div class="mb-3 row px-4">
            <label class="mb-2">Transaksi</label>
            <input type="text" class="form-control" name="transaksi" required>
          </div>
          <div class="mb-3 row px-4" id="hideDebit">
            <label class="mb-2">Debit</label>
            <input type="text" class="form-control" name="debit">
          </div>
          <div class="mb-3 row px-4" id="hideKredit">
            <label class="mb-2">Kredit</label>
            <input type="text" class="form-control" name="kredit">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" >Update</button>
        </div>
      </form>
    </div>
  </div>
</div>